body {
    margin: 0px 120px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 90px;
    background-position-y: 1850px;
}

p {
    font-weight: 550;
    color: rgb(48, 44, 44);
}

.highlight {
    color: #11AFFB;
}

#top-line {
    font-family: 'Acme', sans-serif;
    font-size: 64px;
    font-weight: 500;
    border-left: #07328f solid 5px;
    border-radius: 5px;
}

#top-line2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(37, 3, 90);
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Bree Serif', serif;
}

.flex-view {
    display: flex;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    margin-top: 60px;
}

#block1 {
    padding: 90px 100px 0px 0px;
}

.link-button {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.733), rgba(240, 85, 240, 0.884));
    border-radius: 10px;
}

.box-style {
    padding: 10px;
    border-radius: 20px;
    width: 33%;
}

.box-style img {
    width: 50%;
}

#box1 {
    background-color: rgb(247, 230, 228);
    margin-right: 25px;

}

#box2 {
    background-color: rgb(201, 247, 242);
}

#box3 {
    background-color: rgb(210, 216, 245);
    margin-left: 25px;

}

h3 {
    font-family: 'Bree Serif', serif;
    font-weight: 600;
    font-size: 20px;
}

.block2 {
    margin-top: 100px;
    width: 70%;
}

.block2 img {
    width: 70%;
    margin-top: -10px;
}

.block3 {
    margin-top: 50px;
    width: 70%;
}

.block3 img {
    width: 70%;
    margin-left: 150px;
}
footer {
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(5, 5, 105);
    padding: 10px 0px;
    margin: 0px -120px;
}
